.outter {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    text-shadow: black 2px 2px 2px;
    padding: 8px 8px;
}


.inner {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.mediaBreak900 {
    display: none;
}

.mediaBreak500 {
    display: none;
}

.ImagesMappesBox {
    display: flex;
    width: 100%;
}

.FirstHomepageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 14vw;
    background-color: rgb(237, 236, 236);
}

#BoxText {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: darkgreen;
    margin-right: 2.3em;
    font-weight: 700;
    /* text-shadow: black 2px 2px 8px; */
    padding: 0px 2px;
}
#BoxText2 {
    font-size: 2.9vw;
    color: darkgreen;
    margin-right: 2.3em;
    font-weight: 700;
    /* text-shadow: black 2px 2px 8px; */
    padding: 2px 5px;
}


.buttonDivLarge {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 2.1vw;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
 }

 .buttonDivLarge:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.1vw;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: white;
    transform: scale(1.1);
    transition: 1.1s;
    background-color: darkgreen;

 }

 .financeAnchor{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
 }

 .buttonDivLargeFinance{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.1vw;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
 }

 .buttonDivLargeFinance:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1vw;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: white;
    transform: scale(1.1);
    transition: 1.1s;
    background-color: darkgreen;

 }

 .buttonDivSmall {
    font-size: 2.1vw;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
 }

 .buttonDivSmall:hover {
    font-size: 2.1vw;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid green;
    color: white;
    transform: scale(1.1);
    transition: 1.1s;
    background-color: darkgreen;
 }

@media screen and (max-width: 1200px) {
    .inner {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    .mediaBreak900 {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
}



@media screen and (max-width: 684px) {
    .inner {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .mediaBreak900 {
        display: none;
        justify-content: space-evenly;
        align-content: center;
    }

    .mediaBreak500 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }

}


@media screen and (max-width: 750px) {

    .FirstHomepageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row; 
        width: 100%;
        height: 30vw;
        background-color: rgb(237, 236, 236);
    }

    #BoxText {
        display: flex;
        justify-content: center;
        font-size: 3.2vw;
        color: darkgreen;
        justify-content: center;
        margin-right: 2.3em;
        font-weight: 700;
        /* text-shadow: black 2px 2px 8px; */
        padding: 2px 2px;
    }
    #BoxText2 {
        display: flex;
        justify-content: center;

        font-size: 2.9vw;
        color: darkgreen;
        margin-right: 2.3em;
        font-weight: 700;
        /* text-shadow: black 2px 2px 8px; */
        padding: 2px 5px;
    }
    .buttonDivLarge {
        font-size: 2.1vw;
        margin-right: 20px;
        border-radius: 5px;
        border: 2px solid green;
        color: green;
     }
    
     .buttonDivLarge:hover {
        font-size: 2.1vw;
        margin-right: 20px;
        border-radius: 5px;
        border: 2px solid green;
        color: white;
        transform: scale(1.1);
        transition: 1.1s;
        background-color: darkgreen;
    
     }
    .buttonDivLargeFinance{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.1vw;
        margin-right: 20px;
        border-radius: 5px;
        border: 2px solid green;
        color: green;
     }
    
     .buttonDivLargeFinance:hover {
        font-size: 2.1vw;
        margin-right: 20px;
        border-radius: 5px;
        border: 2px solid green;
        color: white;
        transform: scale(1.1);
        transition: 1.1s;
        background-color: darkgreen;
    
     }
     .buttonDivSmallFinance{
        display: flex;
        width: 12em;
        height: 3em;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3.1vw;
        margin-right: 20px;
        border-radius: 5px;
        border: 2px solid green;
        color: green;
     }
    
     .buttonDivSmallFinance:hover {
        font-size: 2.1vw;
        margin-right: 20px;
        border-radius: 5px;
        width: 3em;
        border: 2px solid green;
        color: white;
        transform: scale(1.1);
        transition: 1.1s;
        background-color: darkgreen;
    
     }
}
