/* Menu CSS */
a {
    text-decoration: none;
} 

.navbarClass {
    background-color: blue;
}

#Menu {
    display: flex;
    justify-content: center;
    background-color: #194b1e;
}

#navbar-color {
    background-color: #194b1e;
}

#basic-nav-dropdown {
    color: white;
    font-size: 2.2vw;
    margin-top: -2px;
    transition: all .2s ease-in-out;
    padding-left: 45px;
    
}

#basic-nav-dropdown:hover {
    transform: scale(1.1); 
    color: lightgreen;
}

#nav-link {
    color: white;
    transition: all .2s ease-in-out;
    font-size: 2.2vw;
    padding-left: 45px;
    text-decoration: none;
}

#nav-link:hover {
    transform: scale(1.1); 
    color: lightgreen;
}

.ddItem {
    font-size: 24px;
}

.ddItem:active {
    font-size: 24px;
    background-color:#194b1e;
    color: white;
}

#button-color {
    background-color: white;
}

#button-color:hover {
    background-color: #194b1e;
    color: white;
}

.MenuInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}

.MenuItem {
    display: flex;
    justify-content: right;
    padding: 5px;
    font-size: 1.8vw;
    font-family: Cochin;
}

.InfoAndMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.socialIconBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;    
}

.socialIcons {
    margin: 15px;
    transition: all .2s ease-in-out;
}

.socialIcons:hover{
    transform: scale(2.1);
    color: lightblue;
}


#email {
    color: white;
}

#email:hover {
    color: lightblue;
    text-decoration: none;
}

#phone {
    color: white;
}

#phone:hover {
    color: lightblue;
    text-decoration: none;
}

.navLink:visited{
    color: black;
}

#navbar-color{
    z-index: 10;
    border-radius: 20px;;
}

.header {
    background-color: #194b1e; 
    height: 200px; 
    width: 100%; 
    display: flex; 
    justify-content: space-between;
}


.headerLogo {
    top: 5px; 
    left: 1px; 
    height: 220px; 
    width: 220px;
}

@media screen and (max-width: 600px) {

    .MenuInfo{
        display: none;
    }
    .header {
        background-color: #194b1e; 
        height: 200px; 
        width: 100%; 
        display: flex; 
        justify-content: space-between;
    }
    .headerLogo {
        top: 5px; 
        left: 1px; 
        height: 40.6vw; 
        width: 40.6vw;
    }
}

@media screen and (max-width: 992px){

    #Menu {
        position: absolute;
        top: 15%;
        left: 35%;
        width: 35vw;
        z-index: 5;
        background-color: #194b1e;
        align-self: flex-start;
        border-radius: 10px;
    }

    .collapse {
        width: 35vw;
        border: 1px solid white;
        z-index: 5;
        border-radius: 10px;
        background-color: #194b1e;
    }  

    #navbar-color {
        background-color: #194b1e;
    }

    #nav-link {
        margin-left: 4px;
        padding: 5px 5px;
    }

    #basic-nav-dropdown {
        margin-left: 4px;
        padding: 5px 5px;
    }

    .ddItem {
        margin-left: 5px;
        font-size: 2.2vw;
        width: 95%;
    }
}





